.currency-rub {

  padding: 1.5rem;
  width: 20rem;

  &__name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 0 0.1rem;
    margin: 0 1rem 0.7rem 0;
  }


  &__add {
    width: 1.7rem;
    height: 1.7rem;
  }

  &__date {
    display: block;
    padding: 0 0.1rem;
  }

}
